*.webp !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.woff2 !text !filter !merge !diff
